In [8]:
# VacationPy


#### Note
# Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [9]:
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
results = pd.read_csv ('csv/results.csv')
results

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bambous Virieux,-20.34,57.76,75.20,60,40,16.11,MU,1597305750
1,Punta Arenas,-53.15,-70.92,30.20,86,88,10.29,CL,1597305750
2,Rikitea,-23.12,-134.97,69.85,77,60,16.15,PF,1597305750
3,Bethel,41.37,-73.41,71.60,83,20,4.29,US,1597305751
4,Harper,4.38,-7.72,75.20,69,47,4.43,LR,1597305751
...,...,...,...,...,...,...,...,...,...
562,Matagami,49.75,-77.63,53.60,93,1,1.19,CA,1597305905
563,Ati,13.22,18.34,76.33,83,98,8.39,TD,1597305905
564,Jaciara,-15.97,-54.97,68.41,46,56,3.06,BR,1597305905
565,Pozo Colorado,-23.49,-58.80,47.48,97,0,4.12,PY,1597305905
566,Barra de Tecoanapa,16.52,-98.75,79.45,78,100,2.91,MX,1597305906

In [10]:
### Humidity Heatmap
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = results[["Lat", "Lon"]].astype(float)

humidity = results["Humidity"].astype(float)
#fig = gmaps.figure()
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
hotel_df= results.loc[ (results['Max Temp']< 80)&(results['Max Temp']> 70)&(results['Wind Speed']< 10)&(results['Humidity']< 50)]
hotel_df['Hotel_Name']=''
hotel_df

/Users/bradmarchant/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel_Name
57,Inyonga,-6.72,32.07,79.56,33,81,7.25,TZ,1597305767,
108,Saint-Philippe,-21.36,55.77,75.99,36,37,8.05,RE,1597305781,
111,Khovd,48.01,91.64,73.99,26,68,5.82,MN,1597305782,
173,Erzincan Province,39.75,39.50,78.80,36,0,2.24,TR,1597305799,
202,Moba,33.23,105.02,75.04,48,0,5.19,CN,1597305806,
226,Karratha,-20.74,116.85,76.01,32,0,9.04,AU,1597305528,
237,Laguna,38.42,-121.42,73.40,43,1,5.82,US,1597305816,
253,Innisfail,-17.53,146.03,75.99,44,12,3.00,AU,1597305561,
341,Shumskiy,54.83,99.13,79.95,43,84,3.91,RU,1597305844,
418,Chara,56.91,118.26,78.06,39,100,4.92,RU,1597305864,
426,Tashtagol,52.77,87.89,77.88,36,44,7.07,RU,1597305866,
446,Kuytun,54.34,101.50,79.59,45,12,4.79,RU,1597305872,
457,Ulagan,50.63,87.96,76.01,24,84,2.39,RU,1597305874,
464,Beloha,-25.17,45.05,79.90,31,0,4.32,MG,1597305876,
471,AraguaÃ­na,-7.19,-48.21,71.26,43,67,5.14,BR,1597305878,
514,AkÅŸehir,38.36,31.42,77.14,34,0,6.20,TR,1597305891,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    Lat = row['Lat']
    Lng = row['Lon']
    # add keyword to params dict
    params['location'] = f'{Lat},{Lng}'

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
   
    
    try:
        results = response['results']
        hotel_df.loc[index, 'Hotel_Name'] = results[0]['name']
        print (row['Hotel_Name'])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

/Users/bradmarchant/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

------------

------------

------------

------------
Missing field/result... skipping.
------------

------------

------------

------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------

------------

------------

------------
Missing field/result... skipping.
------------

------------

------------

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))